.App {
  text-align:center;
  background-color: rgb(189, 174, 202);
  background-image: url(grass.jpg);
}
li{
  list-style-type: none;
}
a:link,a:visited {
  color: rgb(236, 231, 231);
  text-decoration: none;
}

a:hover {
  color: rgb(214, 16, 16);
  text-decoration: underline;
}

a:active {
  color: rgb(70, 144, 79);
  text-decoration: underline;
}
a{
  font-size: 22px;
}






